.crosshairs {
    padding: 25px;
}

.leo {
    padding-top: 50px;

}

.leo h2 {
    padding-bottom: 20px;
}

.pancada {
    padding-top: 50px;

}

.pancada h2 {
    padding-bottom: 20px;
}

.Boaster {
    padding-top: 50px;

}

.Boaster h2 {
    padding-bottom: 20px;
}

.aspas {
    padding-top: 50px;

}

.aspas h2 {
    padding-bottom: 20px;
}

.Asuna {
    padding-top: 50px;

}

.Asuna h2 {
    padding-bottom: 20px;
}

.Foxz {
    padding-top: 50px;

}

.Foxz h2 {
    padding-bottom: 20px;
}

.Suygetsu {
    padding-top: 50px;

}

.Suygetsu h2 {
    padding-bottom: 20px;
}

.Marved {
    padding-top: 50px;

}

.Marved h2 {
    padding-bottom: 20px;
}

.Nats {
    padding-top: 50px;

}

.Nats h2 {
    padding-bottom: 20px;
}

.Cned {
    padding-top: 50px;

}

.Cned h2 {
    padding-bottom: 20px;
}

.Demon1 {
    padding-top: 50px;

}

.Demon1 h2 {
    padding-bottom: 20px;
}

.Derke {
    padding-top: 50px;

}

.Derke h2 {
    padding-bottom: 20px;
}

.SkRossi {
    padding-top: 50px;

}

.SkRossi h2 {
    padding-bottom: 20px;
}

.Yay {
    padding-top: 50px;

}

.Yay h2 {
    padding-bottom: 20px;
}

.Leaf {
    padding-top: 50px;

}

.Leaf h2 {
    padding-bottom: 20px;
}

.Tarik {
    padding-top: 50px;

}

.Tarik h2 {
    padding-bottom: 20px;
}